<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <% if (session.user && session.user.role === 'admin') { %>
        <h1>Hello admin</h1>
        <a href="/dashboard/user-data">Add User Data</a>
        <a href="/dashboard/profile/<%= session.user._id %>">View Profile</a>
    <% } else if (session.user && session.user.role === "user") { %>
        <h1>Hello User</h1>
        <a href="/dashboard/user-data">Add User Data</a>
        <a href="/dashboard/profile/<%= session.user._id %>">View Profile</a>
    <% } else { %>
        <h1>Please Login</h1>
    <% } %>
</body>
</html>