<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Data</title>
</head>
    <body>
        <h1>Add User Data</h1>

        <form action="/dashboard/user-data" method="post" enctype="multipart/form-data">
            <label for="nickname">Nickname:</label>
            <input type="text" name="nickname" id="nickname" value="<%= userDetails.nickname %>"/>

            <label for="avatarUrl">Avatar:</label>
            <input type="file" name="avatar" id="avatar" />

            <label for="about">About:</label>
            <textarea name="about" id="about"><%= userDetails.about %></textarea>

            <label for="avatarUrl">Current Avatar:</label>
            <% if (userDetails.avatarUrl) { %>
                <img src="<%= userDetails.avatarUrl %>" alt="Current Avatar">
            <% } else { %>
            <p>No avatar uploaded</p>
            <% } %>

            <button type="submit">Добавить/Обновить данные</button>
        </form>
    </body>
</html>